

.App {
  text-align: center;
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1.5vmin);
  color: rgb(77, 77, 77);
}

.correct{
  background-color: green;
}

.incorrect{
  background-color: red;
}

.question-container {
  height:20vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-container {
  height:76vh;

  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  padding: 25px;
  box-sizing: border-box;

  width:100%;
}

body {
  margin:0;
}


.answer-btn {
  padding: 15px 25px;
  font-size: calc(10px + 3vmin);
  color: #fff;
  font-weight:bold;
}

.start-btn {
  padding: 15px 25px;
  font-size: calc(30px + 5vmin);
  color: #fff;
  font-weight:bold;
  background-color: rgb(175, 175, 175);
}

.clickable-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 15px #999;
}


.clickable-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

.correct {
  background-color: green;
  font-weight : 1000;
}

.incorrect {
  background-color: red;
}

.other-answer {
  background-color: rgb(223, 223, 223);
  color:darkslategray;
}

.no-margin {
  margin:0;
}